/* CSS reset - based on https://mattbrictson.com/blog/css-normalize-and-reset */
@import url("modern-normalize/modern-normalize.css");

:root {
  line-height: 1.5;
  --primary-orange: rgb(234,151,31);
  --light-red-orange:rgb(253, 150, 100);
  --dark-orange:rgb(255, 163, 59);
  --intense-yellow: rgb(255, 207, 118);
  --soft-yellow:rgb(255, 247, 211);

  --middle-dark-grey: rgb(106, 105, 105);
  --middle-grey:rgb(132, 131, 131);

  --M-font-size: calc(0.9375rem + 0.15vw);
  --S-font-size: calc(0.75rem + 0.15vw);
  --XS-font-size: calc(0.675rem + 0.15vw);
  --grey-font: grey;
  --dark-grey-font: rgb(94, 94, 94);

  --dark-bg-color:rgba(37, 51, 60, 0.9);
  --light-bg-color: rgb(72, 55, 20);

  --shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Global styles*/

p {
  font-size: var(--M-font-size);
}

body {
  height: 100vh;
  overflow:hidden;
}

.site-bg {
  /* inspired by https://stackoverflow.com/questions/71819578/how-to-achieve-this-low-opacity-gloomy-light-for-background-with-html-and-css */
  width: 100%;
  height: 100%;
  background: radial-gradient(circle closest-corner at center 125px, var(--light-bg-color), var(--dark-bg-color) 70%);

  overflow:hidden;
}

.site-bg::after,
.site-bg::before {
  content: "";
  display: inline-block;
  position: absolute;
  background: var(--light-bg-color);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(70px);
  mix-blend-mode: lighten;
  opacity: 1;
}

.site-bg::before {
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
}

.site-bg::after {
  top: 50%;
  left: 0px;
  transform: translateX(-50%);
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-top: 5vh;
}

.pre-main-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.pre-main-container > .horizontal-logo{
  width: calc(200px + 4.5vw);
}

.pre-main-container button {
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.logout-icon {
  width: calc(15px + 0.75vw);
  cursor: pointer;
  transition: transform 0.15s ease;
}

.logout-icon:hover {
  transform: scale(1.10);
}

.logout-icon:active {
  transform: scale(1);
}

nav p a {
  font-size: var(--M-font-size);
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

main {
  background-color: white;
  border-top: calc(2px + 0.15vw) solid var(--primary-orange);
  border-right: calc(2px + 0.15vw) solid var(--primary-orange);
  border-left: calc(2px + 0.15vw) solid var(--primary-orange);

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: clamp(300px, 75vw, 1250px);
  height: 75vh;
}

nav {
  display:flex;
  padding: 15px 10px 0 10px;
  gap:7px;
}

nav > * {
  text-align: center;
  border-top-right-radius: 15px;
  background-color: var(--dark-orange);;
  color: black;
  text-decoration: none;
  padding: 4px 15px;
}

nav > *:hover {
  background-color:  var(--light-red-orange);
}

.active-nav {
  background-color: var(--intense-yellow);
}

.pattern-bg {
    /* from https://css-pattern.com/curvy/ */
  --s: 17px; /* control the size*/
  --c1:rgba(222, 229, 232, 0.916);
  --c2: #ffffff;
  
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,var(--c2) 68% 70%,#0000 72%;
  background:
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) var(--s) var(--s)/var(--_s),
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s),
    radial-gradient(var(--_g) 0    75%,var(--_c)) 0 0/var(--_s),
    repeating-conic-gradient(var(--c1) 0 25%,#0000 0 50%) 0 0/var(--_s),
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s)
    var(--c1);
}