/* CSS reset - based on https://mattbrictson.com/blog/css-normalize-and-reset */
@import url("modern-normalize/modern-normalize.css");

:root {
  line-height: 1.5;
  --primary-orange: rgb(234,151,31);
  --M-font-size: calc(0.875rem + 0.25vw);
  --S-font-size: calc(0.75rem + 0.2vw);
  --XS-font-size: calc(0.625rem + 0.2vw);
  --grey-font: grey;
  --dark-grey-font: rgb(94, 94, 94);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Global styles*/

p {
  font-size: var(--M-font-size);
}

body {
  background-color: rgb(255, 252, 234);
  height: 100vh;
  overflow:hidden;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-top: 5vh;
}

.wave {
  position: fixed;
  top: 25vh;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 25vh);
  z-index: -1;
}

.app-container > .horizontal-logo{
  width: 22.5vw;
}

main {
  background-color: white;
  border-top: calc(2px + 0.15vw) solid var(--primary-orange);
  border-right: calc(2px + 0.15vw) solid var(--primary-orange);
  border-left: calc(2px + 0.15vw) solid var(--primary-orange);

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 75vw;
  height: 75vh;
}

nav {
  display:flex;
  padding: 15px 10px 0 10px;
  gap:7px;
}

nav > * {
  text-align: center;
  border-top-right-radius: 15px;
  background-color: rgb(248, 171, 63);
  color: black;
  text-decoration: none;
  padding: 4px 15px;
}

nav > *:hover {
  background-color:  rgb(253, 189, 100);
}