/* CSS reset - based on https://mattbrictson.com/blog/css-normalize-and-reset */
@import url("modern-normalize/modern-normalize.css");

:root {
  line-height: 1.5;
  --primary-orange: rgb(234,151,31);
  --light-red-orange:rgb(253, 161, 100);
  --dark-orange:rgb(255, 163, 59);
  --intense-yellow: rgb(255, 207, 118);
  --soft-yellow:rgb(255, 247, 211);

  --middle-dark-grey: rgb(106, 105, 105);
  --middle-grey:rgb(132, 131, 131);

  --M-font-size: calc(0.9375rem + 0.15vw);
  --S-font-size: calc(0.75rem + 0.15vw);
  --XS-font-size: calc(0.675rem + 0.15vw);
  --grey-font: grey;
  --dark-grey-font: rgb(94, 94, 94);
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

/* Global styles*/

p {
  font-size: var(--M-font-size);
}

body {
  background-color: rgba(0, 0, 0, 0.755);
  height: 100vh;
  overflow:auto;
}

.app-container {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  padding-top: 5vh;
}

/*.wave {
  position: fixed;
  top: 25vh;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: calc(100vh - 25vh);
  z-index: -1;
}*/

.pre-main-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.pre-main-container > .horizontal-logo{
  width: calc(200px + 4.5vw);
}

.pre-main-container button {
  margin-right: 10px;
  border: none;
  background-color: transparent;
}

.logout-icon {
  width: calc(15px + 0.75vw);
  cursor: pointer;
  transition: transform 0.15s ease;
}

.logout-icon:hover {
  transform: scale(1.10);
}

.logout-icon:active {
  transform: scale(1);
}

nav p a {
  font-size: var(--M-font-size);
  text-decoration: none;
  color: black;
  white-space: nowrap;
}

main {
  background-color: white;
  border-top: calc(2px + 0.15vw) solid var(--primary-orange);
  border-right: calc(2px + 0.15vw) solid var(--primary-orange);
  border-left: calc(2px + 0.15vw) solid var(--primary-orange);

  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: clamp(300px, 75vw, 1250px);
  height: 75vh;
}

nav {
  display:flex;
  padding: 15px 10px 0 10px;
  gap:7px;
}

nav > * {
  text-align: center;
  border-top-right-radius: 15px;
  background-color: var(--dark-orange);;
  color: black;
  text-decoration: none;
  padding: 4px 15px;
}

nav > *:hover {
  background-color:  var(--light-red-orange);
}

.active-nav {
  background-color: var(--intense-yellow);
}