.mainChat {
  display: flex;
  flex-direction: column;
}

.desktopScreen {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.listContainer {
  transition: flex-basis 1.75s ease-in;
  flex-basis: 30%; /* If performance becomes an issue, remember that animating flex-basis triggers layout calculations which can be expensive. */
}

.listContainerExpanded {
  flex-basis: 100%;
}

.chatContainer{
  transition: flex-basis 1.75s ease-in, opacity 1.75s 0.5s ease-in;

  opacity: 1;

  flex: 1;

  display:flex;
  flex-direction: column;
  overflow: hidden;
}

.chatContainerNone{
  flex-basis: 0%;
  opacity: 0;
}

.messageDisplay{
  margin: 10px 10px 0 10px;
  padding: 10px 20px;
  background-color: rgb(245, 245, 245);
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message {
  position:relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  max-width: 75%;
}

.messageCurrentUser{
  background-color: rgb(250, 226, 194);
  align-self: flex-end;
}

.messageCurrentUser::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 10px;
  border-width: 8px 0 8px 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(250, 226, 194);
}

.messageContact {
  background-color: white;
}

.messageContact::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  border-width: 8px 10px 8px 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.messageDate {
  text-align: right;
  font-size: 0.75rem;
  color: grey;
}

.messageFormContainer{
  margin: 0 10px 10px 10px;
}