.mainChat {
  display: flex;
  flex-direction: column;
}

.desktopScreen {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.listContainer {
  transition: flex-basis 1.75s ease-in;
  flex-basis: 30%; /* If performance becomes an issue, remember that animating flex-basis triggers layout calculations which can be expensive. */
}

.listContainerExpanded {
  flex-basis: 100%;
}

.chatContainer{
  transition: flex-basis 1.75s ease-in, opacity 1.75s 0.5s ease-in;

  opacity: 1;

  flex: 1;

  display:flex;
  flex-direction: column;
  overflow: hidden;
}

.chatContainerNone{
  flex-basis: 0%;
  opacity: 0;
}

.messageDisplay{
  margin: 10px 10px 0 10px;
  padding: 10px 20px;
  background-color: rgb(245, 245, 245);
  flex: 1;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.message {
  position:relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  padding: 5px 10px;
  width: fit-content;
  max-width: 75%;
}

.messageCurrentUser{
  background-color: rgb(250, 226, 194);
  align-self: flex-end;
}

.messageCurrentUser::after {
  content: "";
  position: absolute;
  right: -10px;
  top: 10px;
  border-width: 8px 0 8px 10px;
  border-style: solid;
  border-color: transparent transparent transparent rgb(250, 226, 194);
}

.messageContact {
  background-color: white;
}

.messageContact::after {
  content: "";
  position: absolute;
  left: -10px;
  top: 10px;
  border-width: 8px 10px 8px 0;
  border-style: solid;
  border-color: transparent white transparent transparent;
}

.messageDate {
  text-align: right;
  font-size: var(--XS-font-size);
  color: var(--grey-font);
}

.messageFormContainer{
  margin: 10px 10px 10px 10px;
}

.messageForm {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.trixContainer{
  flex:1;
  min-width: 0;
}

.sendButton{
  border-radius: 2rem;
  padding: 0.75rem;
  border:none;
  background-color: rgb(252, 174, 65);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  flex-shrink: 0;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.15s;
}

.sendButton:hover {
  background-color: var(--primary-orange);
}

.sendButton:active {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.sendButton img{
  width: 1.25rem;
  height: 1.25rem;
}