.contactList{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.contactContainer {
  border: 2px solid transparent;
  border-radius: 5px;
  display: flex;
  gap: 15px;
  padding: 10px;
  align-items: center;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
  transition: background-color 0.3s ease, box-shadow 0.15s;
}

.contactContainer:hover{
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.isOpen{
  border: 2px solid var(--intense-yellow);
  background-color: var(--soft-yellow);
  box-shadow: none;
}

.isOpen:hover{
  box-shadow: none;
}

.contactList a {
  text-decoration: none;
  color: black;
}

.profilePicture{
  width: calc(30px + 1vw);
  aspect-ratio: 1/1;
  border-radius: 30px;
}

.contactName{
  flex: 1;
  overflow-wrap: break-word; 
  min-width: 0;
}

.latestActivity{
  font-size: var(--S-font-size);
  color: var(--dark-grey-font);
}