.profileEditFormCard {
  padding: 2vw 1.5vw;
  border-radius: 15px;
  background-color: white;

  display:flex;

  box-shadow: var(--shadow);
  gap: 1.5vw;
}

.profilePictureContainer {
  width: clamp(150px, 12.5vw, 175px);
  padding: 0.5vw;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  gap: 1.5vw;

  align-items: center;
}

.profilePicture {
  object-fit: cover;
  aspect-ratio: 1/1;
  border-radius: 150px;
}

.profilePictureContainer > label {
  padding: 0.15rem 0.5rem;
  font-size: var(--XS-font-size);
  min-width: fit-content;
  border: none;
  border-radius: 1.5rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  background-color:var(--middle-dark-grey);


  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.15s;
  
}

.profilePictureContainer > label:hover {
  background-color: var(--middle-grey);
}

.profilePictureContainer > label:active {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.profilePictureContainer > input {
  opacity: 0;
}

.profileCardTextInfoContainer {
  flex:1;
  align-self: stretch;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.profileCardTextFieldsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  min-height: 0; 

  width: clamp(250px, 30vw, 50vw);
  overflow: hidden;
}

.profileCardTextFieldsContainer > * + * {
  margin-block-start: 0.5rem;
}

.label {
  font-weight: 600;
}

.fieldGroup {

  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.fieldGroup > input {
  min-width: 100px;
  width: fit-content;
}

.fieldGroup > textarea {
  flex: 1;
  resize: none;
  min-height: 10rem;

}

.profileCardActions {
  align-self: flex-end;

  display: flex;
  gap: 1vw;
}

.profileCardActions > button {
  font-size: var(--S-font-size);
  flex-shrink: 0;
}

@media (max-width: 750px) {
  .profileEditFormCard {
    padding: 15px;
    flex-direction: column;
    gap: 15px;
  }

  .profilePictureContainer {
    gap: 15px;
  }

  .profileCardTextInfoContainer{
    overflow:hidden;
  }

  .profileCardTextFieldsContainer {
    align-items: center;
    text-align: center;
  }

  .fieldGroup {
    width: 100%;
    min-width: 0;
  }

  .fieldGroup > input {
    width: 100%;
  }

  .profileCardActions {
    align-self: center;
    gap: 15px;
  }

  .profileCardActions > button {
    margin-bottom: 2px;
    margin-right: 2px;
  }
}